@model ResetPasswordVM;
@inject IConfiguration configuration
@{
    ViewBag.Title = "Account | Reset Password";
    var siteKey = configuration["reCaptchaSettings:SiteKey"];
}

<script type="text/javascript">
     var onloadCallback = function () {
        grecaptcha.render('html_element', {
            'sitekey': '@siteKey'
        });
    };


      function onSubmit(event) {
        event.preventDefault();
        var token = grecaptcha.getResponse();
        console.log("CAPTCHA Token:", token); // Check token here
        document.getElementById("recaptchaTokenInputId").value = token;
        console.log("Token is : ", document.getElementById("recaptchaTokenInputId").value);
        if (token) {
            event.target.submit();
        } else {
            alert("Please complete the CAPTCHA.");
        }
    }

</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

</script>

<div class="login_container">
    <div class="left_image">
    </div>
    <div class="right_form">
        <form class="login_form" method="post" onsubmit="onSubmit(event)">
            <img src="/photo/images/logo_JMBus.png" />
            <h2>Forget Password</h2>

            <div class="line-text">
                <span>Reset your password to sign in</span>
                <hr class="line" />
            </div>

            <div asp-validation-summary="ModelOnly"></div>

            <input type="hidden" id="recaptchaTokenInputId" name="GoogleCaptchaToken" />

         
            <div class="input_box_login">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="inputText" placeholder="Email" autofocus>
                <span class="errorMessage" asp-validation-for="Email"></span>
            </div>


            <div class="form-row mb-3">
                <div class="">
                    <div id="html_element"></div>
                </div>
            </div>
            <span asp-validation-for="GoogleCaptchaToken"></span>

            <input type="submit" class="login_button" value="Send Reset Link">
            <div style="margin-top:20px;color:#40a6d2;padding-left:28px;">
                <a class="hyperlink_login" href="/Account/Login">Back To Login</a>
            </div>

        </form>
    </div>
</div>
