@model UpdatePasswordVM;

@{
    ViewBag.Title = "Account | Update Password";
}

<div class="unique-change-password-container">
    <div class="unique-change-password-header">Change Password</div>
    <form method="post" action="">
        <div class="unique-change-password-form-group">
            <label class="unique-change-password-label" asp-for="Current"></label>
            <input asp-for="Current" class="unique-change-password-input" autofocus>
            <span class="errorMessage" asp-validation-for="Current"></span>
        </div>
        <div class="unique-change-password-form-group">
            <label class="unique-change-password-label" asp-for="New"></label>
            <input asp-for="New" class="unique-change-password-input" autofocus>
            <span class="errorMessage" asp-validation-for="New"></span>
        </div>
        <div class="unique-change-password-form-group">
            <label class="unique-change-password-label" asp-for="Confirm"></label>
            <input asp-for="Confirm" class="unique-change-password-input" autofocus>
            <span class="errorMessage" asp-validation-for="Confirm"></span>
        </div>
        <button type="submit" class="unique-change-password-button">Submit</button>
    </form>
</div>