@{
    ViewBag.Title = "Maintenance | Bus List";
}

<form data-ajax="true"
      data-ajax-update="#target"
      data-ajax-loading="#loader"
      id="f">
    <div class="form-group">
        @Html.TextBox("name", "",
                 new { type = "search", autofocus = "", data_trim = "", data_upper = "" })

    </div>
    <button class="btn btn-primary">Search</button>
    <img src="/images/loader.gif" id="loader" style="display: none">
</form>

<div id="target">
    <partial name="_RankList">
</div>

@section foot {
    <script>
        let timer = null;

        $('#name').on('input', e => {
            clearTimeout(timer);
            timer = setTimeout(() => $(e.target.form).submit(), 500);
        });
    </script>
}
