<section class="voucher_redeem_container">
    <div class="voucher_grid">
        <div class="voucher">
            <div class="voucher_header" style="background-color: #0071c5;">RM 50 off</div>
            <div class="voucher_body">
                <p class="voucher_description">
                    <b>Description:</b>
                    <span>This voucher is applicable to various purchases, including sdshdshid, osjdsjdsj, and more!</span>
                </p>
                <p class="voucher_date">
                    <i class="fas fa-calendar-alt"></i>
                    <b>Valid Date:</b> 1 Jun 24 - 1 July 24
                </p>
                <p class="voucher_value">
                    <i class="fas fa-money-bill-wave"></i>
                    <b>Cash:</b> <span>RM 50</span>
                </p>

                <p class="voucher_points">
                    <i class="fas fa-coins"></i>
                    <b>Points Needed:</b> 1800 pts
                </p>
                <button class="redeem_btn">Redeem</button>
            </div>

        </div>
        <div class="voucher">
            <div class="voucher_header" style="background-color: #00704a;">$2 off</div>
            <div class="voucher_body">
                <h4>Starbucks</h4>
                <p>Valid: Jun 3 - Jun 16</p>
                <button class="redeem_btn">Redeem</button>
            </div>
        </div>
        <div class="voucher">
            <div class="voucher_header" style="background-color: #ff4081;">3 rides 15% off</div>
            <div class="voucher_body">
                <h4>Lyft</h4>
                <p>Valid: May 26 - Jun 8</p>
                <button class="redeem_btn">Redeem</button>
            </div>
        </div>
        <div class="voucher">
            <div class="voucher_header" style="background-color: #333333;">5% off</div>
            <div class="voucher_body">
                <h4>Apple online store</h4>
                <p>Valid: Jun 1 - Jun 24</p>
                <button class="redeem_btn">Redeem</button>
            </div>
        </div>
    </div>
</section>
