@{
    ViewBag.Title = "Schedule | Add New Bus";
}

<div class="schedule-container">
        <h2><i class="fas fa-bus"></i> New Bus Schedule</h2>

        <small>**Take Note That If the Bus Return Time is Schedule on the another day the bus can reuse before the time</small>
        <form>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="bus"><i class="fas fa-list-alt form-icon"></i> Select Bus</label>
                    <select class="" id="bus">
                        <option selected>Choose...</option>
                        <option value="T250">T250</option>
                        <option value="Meet">Meet</option>
                        <option value="Tasks">Tasks</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="depart"><i class="fas fa-map-marker-alt form-icon"></i> Route</label>
                    <select class="" id="depart">
                        <option selected>Choose...</option>
                        <option value="City A">KL - JB</option>
                        <option value="City B">City B</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="date"><i class="fas fa-calendar-alt form-icon"></i> Depart date</label>
                    <input type="date" class="form-control" id="date">
                </div>
                <div class="form-group col-md-6">
                    <label for="time"><i class="fas fa-clock form-icon"></i> Time </label>
                    <div class="input-group">
                        <input type="time" class="form-control" id="start-time">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="ticket-type"><i class="fas fa-ticket-alt form-icon"></i> Ticket Type</label>
                <select class="" id="ticket-type">
                    <option selected>One-Way</option>
                    <option value="two-way">Two-Way</option>
                </select>
            </div>

            <div class="form-row hidden" id="return-group">
                <div class="form-group col-md-6">
                    <label for="return-date"><i class="fas fa-calendar-alt form-icon"></i> Return Date</label>
                    <input type="date" class="form-control" id="return-date">
                </div>
                <div class="form-group col-md-6">
                    <label for="return-time"><i class="fas fa-clock form-icon"></i> Return Time</label>
                    <input type="time" class="form-control" id="return-time">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="price"><i class="fas fa-dollar-sign form-icon"></i> Price</label>
                    <input type="number" class="form-control" id="price" placeholder="Enter price">
                </div>
                <div class="form-group col-md-6">
                    <label for="discount"><i class="fas fa-tag form-icon"></i> Discount Price</label>
                    <input type="number" class="form-control" id="discount" placeholder="Enter discount">
                </div>
            </div>

            <div class="form-group">
                <label for="remark"><i class="fas fa-sticky-note form-icon"></i> Remark</label>
                <textarea class="form-control" id="remark" rows="3" placeholder="Add Remark"></textarea>
            </div>

            <div class="actions d-flex justify-content-between align-items-center">
                <div class="set-reminder">
                    <input type="checkbox" id="reminder">
                    <label for="reminder">Send Email to Subscribers</label>
                </div>
                <button type="button" id="save-btn" disabled><i class="fas fa-save"></i> Save</button>
            </div>
        </form>
    </div>

@section foot{
    <script>
                $(document).ready(function () {
                    // Toggle return date and time fields
                    $('#ticket-type').change(function () {
                        if ($(this).val() === 'two-way') {
                            $('#return-group').removeClass('hidden');
                        } else {
                            $('#return-group').addClass('hidden');
                            $('#return-date, #return-time').val('');
                        }
                    });
    </script>

}
   
